{% extends "base.html" %}
{% block content%}
<h1>Привет, {{ new_order["name"] }}!</h1>

<h2>Ваш заказ</h2>

<p>Начинка: <strong>{{ new_order["filling"] }}</strong> </p>
<p>Соус: <strong>{{ new_order["sauce"] }}</strong> </p>
<p>Размер теста: <strong>{{ new_order["size1"] }}</strong> </p>
<p>Размер пиццы: <strong>{{ new_order["size2"] }}</strong> </p>
<p>Классическая или острая: <strong>{{ new_order["acute"] }}</strong> </p>
<p>Напиток: <strong>{{ new_order["drink"] }}</strong> </p>

<form action="/order">
<input type = "submit" value="Новый заказ"  >
</form>
{% endblock %}
